.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5293BB;
  padding: 10px;
}

.state {
  fill: lightgrey;
}

.outline {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.graticule {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
}

.tooltip {
  pointer-events: none;
}